* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Outfit, sans-serif;
    color: #5F564D;
}


header > figure {
    display: flex;
    width: 100%;
    height: 25vh;

}

header > figure > img {
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
}

.container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 736px;
    margin: 2em auto;
    gap: 2em;
}

.recipe-description h1{
    font-family: 'Young Serif';
    font-size: 2.5rem;
    color: #312E2C;
    margin-bottom: .75em;
}

.recipe-description p{
    line-height: 1.5;

}

.preparation-time {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #FFF7FB;
    border-radius: .5em;
    padding: 1.5em;
    gap: .25em;
}

.preparation-time h3 {
    color: #7A284E;
    font-weight: 600;
}

.preparation-time ul {
    padding: 1em;
    font-size: 1.2rem;
}

.preparation-time ul li {
    padding: .25em 1em;
    line-height: 1.5;
}

.preparation-time ul li::marker {
    color: #7A284E;
}

.ingredients {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: .5em;
    padding: 1.5em;
}

.ingredients h2{
    font-family: 'Young Serif';
    font-size: 1.75rem;
    color: #854632;
}

.ingredients ul {
    padding: 1em;
    font-size: 1.2rem;
}

.ingredients ul li {
    padding: .5em 1em;
}

.ingredients ul li::marker {
    color: #854632;
}

hr {
    width: 90%;
    border: 1px solid #ccc;
    opacity: 50%;
}

.instructions {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: .5em;
    padding: 1.5em;
}

.instructions h2{
    font-family: 'Young Serif';
    font-size: 1.75rem;
    color: #854632;
}

.instructions ul {
    padding: 1em;
    font-size: 1.2rem;
}

.instructions ul li {
    padding: .5em 1em;
    line-height: 1.5;
    list-style-type: decimal;

}

.instructions li::marker {
    font-weight: 700;
}

.instructions ul li::marker {
    color: #854632;
}


.nutrition {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: .5em;
    padding: 1.5em;
}

.nutrition h2{
    font-family: 'Young Serif';
    font-size: 1.75rem;
    color: #854632;
}

.nutrition p{
    font-size: 1.2rem;
    margin: 1em 0;
    line-height: 1.5;
}

.values {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin: .75em 0;
    font-size: 1.2em;
}

.values strong {
    color: #854632;
}

.values span, .values strong {
    width: 100%;
}

.values span {
    padding-left: 1.5em;
}

footer {
    margin-bottom: 3em;
}

@media (min-width: 600px) {
    header {
        width: 100vw;
        max-width: 736px;
        margin: 0 auto;
        padding: 2em 2em 0;
    }
    header > figure {
        border-radius: .75em;
        overflow: hidden;
    }

}